[Desktop Entry]
Name=BlueJ
Comment=Java IDE for beginners
Exec=org.bluej.BlueJ
Type=Application
Icon=org.bluej.BlueJ
Categories=Development;Java;Education;
